body {
	background-color: #424242;
	background-image: url("../images/vitale.jpg");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: right;
}

#blocPage {
	width: 80%;
	margin: auto;
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

#formulaire {
	display: flex;
	justify-content: flex-start;
	margin-top: 30%;
	padding-left: 30px;
}

iframe {
	border: none;
	width: 100%;
}

#help {
	margin-top: 100px;
	background-color: #c40000;
	border: none;
	cursor: pointer;
	font-size: 30px;
}